network  --bootproto=static --device=$NETWORK_DEVICE --ip=$IP --gateway=$GATEWAY --nameserver=$NAMESERVER_1 --nameserver=$NAMESERVER_2 --netmask=$NETMASK --ipv6=auto --activate
network  --hostname=$HOSTNAME
